<p-toast></p-toast>

<div class="container">
    <form #f="ngForm" autocomplete="off" (ngSubmit)="salvar(f)">
        <div class="ui-g">

            <div class="ui-g-12">
              <h1>{{editando?'Edicão de ': 'Nova '}} Disciplina</h1>
            </div>

            <div class="ui-g-12 ui-md-9 ui-fluid">
                <label>Insira um novo nome</label>
                <input pInputText placeholder="Digite um nome" type="text" name="nome"
                  [(ngModel)]="disciplina.nome"
                  #nome="ngModel" required minlength="5">
  
                  <div *ngIf="nome.hasError('required') && nome.touched">Informe um nome</div>
                  <div *ngIf="nome.hasError('minlength')">O nome deve ter no mínimo 5 caractares</div>
              </div>

            </div>
      
              <div class="ui-g-12">
                  <button pButton icon="pi pi-save" iconPos="left" type="submit" label="Salvar disciplina" [disabled]="f.invalid" class="boxButton ui-button-rounded ui-button-secondary"></button>
                  <button pButton icon="pi pi-calendar" iconPos="left" type="button" label="Voltar para disciplinas" class="ui-button-rounded ui-button-secondary" routerLink="/disciplinas"></button>
              </div>
            
    </form>
</div>