<p-sidebar [(visible)]="sideBar">

  <div class="ui-g">
    <div class="ui-g-12 ui-fluid">
      <h1 class="boxButton">Menu Escola</h1>
      <button pButton type="button" (click)="sideBar = false" label="Alunos" class="boxButton ui-button-rounded ui-button-success" routerLink="/alunos"></button>
      
      <button pButton type="button" (click)="sideBar = false" label="Professores" class="boxButton ui-button-rounded ui-button-success" routerLink="/professores"></button>

      <button pButton type="button" (click)="sideBar = false" label="Disciplinas" class="boxButton ui-button-rounded ui-button-success" routerLink="/disciplinas"></button>
      </div>
  </div>
</p-sidebar>
<button type="button" (click)="sideBar = true"
pButton icon="pi pi-bars" class="boxButton"></button>


<router-outlet></router-outlet>