<div class="ui-g">
        <div class="ui-g-6 ui-fluid">
<h1 class="alinharInicioEscola">Início Escola</h1>
</div>
</div>

<div class="ui-g">
      <div class="ui-g-6 ui-fluid">
      
      <button pButton icon="pi pi-users" iconPos="left" label="Alunos" class="boxButton ui-button-rounded ui-button-secondary" routerLink="/alunos"></button>
      
      <button pButton icon="pi pi-briefcase" iconPos="left" type="button" label="Professores" class="boxButton ui-button-rounded ui-button-secondary" routerLink="/professores"></button>

      <button pButton icon="pi pi-calendar" iconPos="left" type="button" label="Disciplinas" class="boxButton ui-button-rounded ui-button-secondary" routerLink="/disciplinas"></button>
    
      </div>
  </div>

